.courseDetails {
  height: 270px;
  width: 690px !important;
  margin: 0 auto;
  border-radius: 25px;
  border: 1px solid grey;
}
.wrapper {
  padding: 2rem;
}
.courseTabs {
  //   height: 270px;
  width: 690px !important;
  margin: 0 auto;
  padding-top: 10px;
}
.courseTab {
  border-radius: 25px !important;
  border: 1px solid grey !important;
  width: 325px;
  text-align: center;
}
.buttonWrapper {
  padding: 0px 10px 0px 10px;
}
