
/*CSS everywhere*/
h1, h2, h3, h4, h5, h6{
    margin: 3%;
}

.container {
    background-color: lightgray;
}


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%;
    
}

.first-page {
    background-color: #241f47;
}


/*Landing slide one div group*/
.landing-slide-one{
    padding-bottom: 0.5%;
}

.content-container {
    text-align: center;

    h1 {
        font-size: 500%;
        margin: 0%;
        font-family: 'Noto Serif', serif;
        color: #cccccc;
    }

    h3 {
        font-size: 200%;
        font-family: 'Noto Serif', serif;
        color: #b3b3b3;
    }
}

/*Landing slide two div group*/
.landing-slide-two{
    width: 100%;
    
    background-color: #b3b3b3;
    overflow:auto;
    font-family: 'Noto Serif', serif;
    
}

.skills{
    float: left;
    padding-left: 10%;
    width: 40%;

    
}

.skills h1{
    font-size: 275%;
}

.skills h2{
    font-size: 200%;
    padding-left: 10%;
}

.skills h3{
    font-size: 200%;
    padding-left: 15%;
}

.skills h4{
    font-size: 200%;
    padding-left: 20%;
}

.skills h5{
    font-size: 200%;
    padding-left: 25%;
}

.skills h6{
    font-size: 225%;
    padding-left: 30%;
}

.quotes{
    float: right;
    padding-right: 10%;
    
    
}

.vl {
    border-left: 4px solid #000000;
    height: 75%;
    position: absolute;
    left: 45%;
    margin-left: -3px;
    
  }

.quotes p{
    font-size: 200%;
    text-align: left;
}

/*Landing slide one div group*/
.landing-slide-three{
    padding-top: 3%;
    padding-bottom: 5%;
    clear: both;
    text-align: center;
}

.landing-slide-three h1{
    font-size: 400%;
}

.landing-slide-three button{
    background-color: gray;
    border: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 300%;
}