.userCalendar {
  width: 600px !important;
  height: 600px !important;
  margin: 0px auto;
  min-height: 430px !important;
}
.userCalendarContainer {
  padding: 20px;
  width: 100%;
}
.leftContainer {
  width: 690px !important;
  padding: 0px 5px !important;
  margin: 0px auto !important;
}

.calendarEventList {
  padding: 20px;
  width: 100%;
}
.userCalendar .react-calendar__navigation {
  height: 80px !important;
  background-color: #424242 !important;
  color: white !important;
}
.userCalendar .react-calendar__navigation__label {
  color: white !important;
}
.userCalendar .react-calendar__navigation__label:hover {
  background-color: #2196f3 !important;
}
.userCalendar .react-calendar__month-view__weekdays {
  // height: 60px;
  font-size: 20px !important;
  text-decoration: underline !important;
}
.userCalendar .react-calendar__month-view {
  height: 438px !important;
}
.userCalendar .react-calendar__month-view__days {
  height: 438px !important;
}
.userCalendar .react-calendar__navigation__prev-button {
  color: white !important;
}
.userCalendar .react-calendar__navigation__prev2-button {
  color: white !important;
}
.userCalendar .react-calendar__navigation__next-button {
  color: white !important;
}
.userCalendar .react-calendar__navigation__next2-button {
  color: white !important;
}
.userCalendar .react-calendar__month-view__days__day--neighboringMonth {
  color: grey !important;
}
.userCalendar .react-calendar__month-view__days__day--weekend {
  color: red !important;
}
.userCalendar .react-calendar__month-view__days__day {
  font-size: 16px !important;
  color: black !important;
}
.userCalendar .react-calendar__tile--active {
  background-color: #2196f3 !important;
}
