.avatar {
  margin: 10px !important;
}
.orangeAvatar {
  margin: 1px !important;
  color: #fff !important;
  background-color: #ff5722 !important;
  width: 160px !important;
  height: 160px !important;
}
.greyAvatar {
  margin: 1px !important;
  color: #fff !important;
  // background-color: #424242 !important;
  border: none;
  background-color: #2196f3 !important;
  width: 160px !important;
  height: 160px !important;
}
.avatarWrapper {
  height: 100% !important;
}
.avatarTitle {
  font-size: 14px !important;
  color: black !important;
}
