.centerAlign {
  text-align: "center";
  align-items: "center";
}

.mainImg {
  text-align: "center";
  align-items: "center";
  height: auto;
  margin: 2rem 0rem;
}

.mainTextSpacing {
  text-align: "center";
  margin-top: 2rem;
}

.buttonSpacing {
  background-color: grey;
  margin-top: 2rem;
}
