.centerAlign {
  text-align: "center";
  align-items: "center";
}

.mainImg {
  text-align: "center";
  align-items: "center";
  height: auto;
}

.mainTextSpacing {
  text-align: "center";
  margin-top: 2rem;
}

.buttonSpacing {
  background-color: grey;
  margin-top: 2rem;
}
.userSettingsMenu {
  padding: 2rem;
  border: "1px solid black";
}
