.comingUpTitle {
  //   padding: 0.1rem 0rem 0.1rem 0.1rem;
  padding: 0.5rem 0rem 0.2rem 0.8rem;
  font-size: 18px !important;
}

.toDo {
  width: 270px;
  height: auto;
  padding: 10px 5px 30px 5px;
  margin: 40px auto;
}
.comingUpList {
  padding: 0rem 0rem 0.5rem 0.8rem;
}
.checkboxColumn {
  padding: 0rem 0rem 0.5rem 0.8rem;
}
